:host {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deposit-container {
  width: 80%;
}

.deposit-content {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
}

.deposit-item {
  flex-grow: 1;
  padding-bottom: 10vh;
}

.form-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.form-card {
  width: 400px;
}

.full-width {
  width: 100%;
  margin-top: 10px;
}