<div class="container">

    <h2>Infos vendeurs</h2>
    <!-- Formulaire pour chercher un utilisateur -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email de l'utilisateur</mat-label>
        <input type="text" matInput [formControl]="emailControl" [matAutocomplete]="auto" placeholder="Email" />
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let client of filteredOptions | async" [value]="client.email">
                {{ client.email }}
            </mat-option>
        </mat-autocomplete>
     <button mat-button matSuffix (click)="onSearch()">Chercher</button> 
    </mat-form-field>
    <mat-form-field>
        <mat-label>Session</mat-label>
        <mat-select [(value)]="selectedSession" [formControl]="sessionControl" required>
            <mat-option *ngFor="let session of sessions" [value]="session">
                {{ session.begin_date }} - {{ session.end_date }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="sessionControl.hasError('required')">Sélectionnez une session</mat-error>
    </mat-form-field>

    <!-- Infos du client -->
    <div *ngIf="clientDetails" class="client-info">

        <mat-card>
            <h3>Somme due</h3>
            <p>{{ clientDetails.due | currency: 'EUR' }}</p>
        </mat-card>

        <mat-card>
            <h3>Gains</h3>
            <p>{{ clientDetails.paidAmount | currency: 'EUR' }}</p>
        </mat-card>

        <!-- Jeux vendus -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Jeux vendus</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let game of clientDetails.soldRG">
                    {{ game.id }} - game_id : {{ game.game_id }} - Prix unitaire:
                    {{ game.unit_price | currency: 'EUR' }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

        <!-- Jeux en stock -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Jeux en stock</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let game of clientDetails.stockedRG">
                    {{ game.id }} - game_id : {{ game.game_id }} - Prix unitaire:
                    {{ game.unit_price | currency: 'EUR' }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </div>
</div>