.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.client-info {
  margin-top: 20px;

  .info-card {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  mat-card {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

mat-expansion-panel {
  margin-bottom: 10px;
}
