<div class="container">

    <h2>Infos vendeurs</h2>
    <!-- Formulaire pour chercher un utilisateur -->
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email de l'utilisateur</mat-label>
        <input type="text" matInput [formControl]="emailControl" [matAutocomplete]="auto" placeholder="Email" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayEmail">
            <mat-option *ngFor="let email of filteredClients$ | async" [value]="email">
                {{ email }}
            </mat-option>
        </mat-autocomplete>
        <button mat-button matSuffix (click)="onSearch()">Chercher</button>
    </mat-form-field>

    <!-- Infos du client -->
    <div *ngIf="selectedClient" class="client-info">

        <mat-card>
            <h3>Somme due</h3>
            <p>{{ clientDetails.dueAmount | currency: 'EUR' }}</p>
        </mat-card>

        <mat-card>
            <h3>Gains</h3>
            <p>{{ clientDetails.earnings | currency: 'EUR' }}</p>
        </mat-card>

        <!-- Jeux vendus -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Jeux vendus</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let game of clientDetails?.soldGames">
                    {{ game.name }} - Quantité: {{ game.quantity }} - Prix unitaire:
                    {{ game.unitPrice | currency: 'EUR' }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>

        <!-- Jeux en stock -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Jeux en stock</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
                <mat-list-item *ngFor="let game of clientDetails?.stockGames">
                    {{ game.name }} - Quantité: {{ game.quantity }}
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </div>
</div>