@if (!catalogToggle) {
	<div class="index-container">
		<h1>{{status}}</h1>
		@if (session$ | async; as session) {
			<button mat-raised-button color="primary" (click)="toggleCatalog()">Consulter le catalogue</button>
		} @else {
			<button mat-raised-button color="primary" disabled>Consulter le catalogue</button>
		}
	</div>
} @else {
	<h1 class="catalog-title">Catalogue</h1>
	@if (catalog$ | async; as catalog) {
		<div class="catalog-container">
			@for (item of catalog; track item.seller_id) {
				<app-catalog-item [item]="item"></app-catalog-item>
			} @empty {
				<li>There are no items.</li>
			}
		</div>
	}
}